* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  display: inline-block;
  margin: 0;
  font-size: 26px;
  padding-top: 7px;
}

h3 {
  display: block;
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}

input, select {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 4px 8px;
  outline: 0;
}

input[type='text'] {
  width: 45%;
  border: 1px solid #ccc;
  margin-right: 2px;
}
select {
	border: 1px solid #ccc;	
	font-size:14px;
	float: left;
	margin:7px 0px;	
}

input[type='button'] {
  background-color: #e51133;
  color: #fff;
  font-weight: bold;
  border: 0;
  padding: 5px 8px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #fc0;
}

#form {
  text-align: center;
}

#district {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.main {
	width: 95%;
	margin:10px auto;	
}
.main .content {
	margin:0px auto;
}
.link-panel {
	width:240px;
	padding:10px 5px;	
	margin-top:10px;
	border: 1px solid #ccc;
	float:left;		
}
.link-panel h4 {
	font-size: 14px;
	margin:0px;
	padding:0px;
}
.link-panel ul { vertical-align:top; padding: 0px; margin: 5px 0px; }
.link-panel ul.tab li { float:left; list-style:none; padding:5px; border: 1px solid #e51133; width:114px; font-size:14px; cursor:pointer; }
.link-panel ul.tab li:hover, .link-panel ul.tab li.active { background-color: #e51133; color: #fff; }
.link-panel ul.district-list { clear:both; }
.link-panel ul.district-list li { list-style:none; padding:5px; border-bottom: 1px dotted #eee; font-size:13px; cursor:pointer; }
.link-panel ul.district-list li:hover, .link-panel ul.district-list li.active { background-color:#ccc; color:#fff; }
.link-panel span.item-color { padding:5px; margin:0px 5px 0px 0px; display:inline-block; }
.d-list-box { width: 228px; height:450px; clear:both; overflow:auto; }
div.container {	
	margin-left: 15px;	
	width:100%;
	float: left;
	max-width: 855px;
}

div.container > div {
  padding: 12px 0;
}

#map {
  height: 650px;
}

strong {
  margin-right: 8px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 400px) {

  div.container {
    width: 320px;
  }

  input[type='text'] {
    width: 260px;
  }
}

.p-content { }
.p-content p { margin: 0px; padding: 5px 0px;}
.p-content a { display:block; }
.p-content .t { padding:2px 0px; font-size:14px; font-weight:bold; border-bottom:1px solid #ccc; } 
.p-content .m-info { width: 138px; float: left; padding: 10px 5px; } 
.p-content img { height:70px; }