body {
  padding:0px;
  margin:0px;
  /* MyAJC style */
  font-family: Publico,Georgia,"Times New Roman",Times,serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family:Georgia, Times, serif;
  /* MyAJC style */
  font-family: inherit;
  text-rendering: optimizelegibility;
}

a{
  color:#2a6496;
}
footer a{
  color: #4780B2;
}
.container{
  /*max-width:1080px;*/
}
#bill-region{
  margin-top:20px;
}

.jumbotron {
  text-align: center;
  margin-top:20px;
  border:1px solid #ccc;
  border-radius:0px;
}

#top-nav{
  width:100%;
  padding:8px;
  border-bottom:1px solid #ddd;
  /*text-align:center;*/
  letter-spacing: 0.1em;
  margin-bottom:20px;
}
#top-nav a{
  color:#333;
}
#top-nav a:hover{
  color:#888;
}
#nav-container{
  width:100%;

}

/*social */

#social{
  float:right;
  margin-right:0px;
  padding-right:5px;
  text-align: right;
}
#social span{
  text-align:right;
}


#member-jumbotron{
  border-bottom:0px;
  margin-bottom:0px;
}

#buttons{
  background-color:#eee;
  border:1px solid #ccc;
  border-top:0px;
}
.member {
  width: 78px;
  height: 100px;
  margin:10px 0px;
  border: 2px solid white;
  text-align: center;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  float: left;
}
.member-info {
  position: relative;
  padding-left: 2px;
  padding-right: 2px;
  margin-top:20px;
  border-top: 3px solid white;
  background-color: grey;
  color: #F1E5E7;
}
.member-info p {
  font-size: 11px;
}
.member.Senate {
  width: 95px;
  height: 112px;
  margin: 10px 0px;
}
.House .member-info {
  top: 55px;
}
.Senate .member-info {
  top: 75px;
}
.Republican .member-info {
  background-color: #C63737;
}
.Democrat .member-info {
  background-color: #39416B;
}
.vacant .member-info {
  background-color: black;
}

.member-detail-row{
  width:100%;
  margin-top:50px;
  /*background-color:#eee;*/
}

.member-detail-row h1{
  font-size:42px;
  margin:0px;
  padding:0px;
}

#member-info{
  padding:0px;
  margin:0px;
}
#member-info li{
  margin:5px 0px;
  padding:0px;
  list-style-type:none;

}

#member-title h3{
  margin:5px 0px 10px 0px;
  padding:0px 0px 10px 0px;
  border-bottom:1px solid #ccc;
}


.hidden {
  display: none;
}
.filter {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding:5px 20px;
}

.filter:hover{
  color:#aaa;
}
.btn{
    background-color:#eee;
    border-radius:0px;
}
.btn-default{
  background-color: #474949;
border-color: #474949;
border-radius:0px;
}
.selected {
  font-weight: bold;
}
.dataTables_paginate a {
  margin: 20px 10px;
  cursor: pointer;
}

.watched-bill-icon {
  position: relative;
  float: left;
  cursor: pointer;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  background-color: lightgray;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-border-radius-topleft:  20px;
     -moz-border-radius-topleft:  20px;
          border-top-left-radius: 20px;
}

#bill-authors .media-object {
  width: 60px;
  height: 60px;
  margin-right:10px;
}

#bill-authors a{
  color:#333;
}

ul#bill-authors li {
  padding: 5px;
}
ul#bill-authors li.D {
  background-color: rgba(57,65,107,0.4);
  border: 2px solid rgba(57,65,107,0.2);
}
ul#bill-authors li.R {
  background-color: rgba(198,55,55,0.4);
  border: 2px solid rgba(198,55,55,0.2);
}
ul#bill-authors li.D:hover {
  background-color: rgba(57,65,107,0.4);
  border: 2px solid rgba(57,65,107,1.0);
}
ul#bill-authors li.R:hover {
  background-color: rgba(198,55,55,0.4);
  border: 2px solid rgba(198,55,55,1.0);
}
ul#bill-authors li.I {
  background-color: lightgray;
}

.member-vote {
  cursor: pointer;
}

td.voted.Yea {
  color: green;
}
td.voted.Nay {
  color: red;
}
td.voted.Excused {
  color: lightgray;
}
td.voted.NotVoting {
  color: lightgray;
}

/* footer styles */
#footer{
  height:200px;
  background-color:#333;
  width:100%;
  margin:60px 0px 0px 0px;
}
#footer-content{
  color:#eee;
  padding:50px 0px;
}

#panel-region {
  margin-top:0px;
}

.panel{
  border-radius:0px;
}

.panel-heading{
  background-color:#eee;
}

.list-group-item:first-child, .list-group-item:last-child{
  border-radius:0px;
}

.table-top{
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  padding:10px;
  background-color:#eee;
  margin:0px;
}
/* header styles */
.navbar{
  min-height:0px;
  height:auto;
  padding:0px;
  background-color:rgba(255,255,255,0.9) ;
}
.navbar button{
  margin:0px;
}
#top{
  width:100%;
  margin:0px;
  padding:2px 0px;
  border-bottom:5px solid #003896;
  opacity:0.9;
  background-color:#fff;
}
#inside-top{
  width:100%;
  padding:5px 20px;
  border-bottom:3px solid #888;
}
#masthead{
  float:left;
}
#masthead-tag{
  text-align:right;
  font-size:20px;
  margin-top:10px;
  line-height: 1em;
  text-transform: uppercase;
  width:300px;
  float:right;
  letter-spacing:1px;
}
#masthead-tag a:link    { color: #000; }
#masthead-tag a:visited { color: #000; }
#masthead-tag a:hover   { color: #000; }
#masthead-tag a:active  { color: #000; }

#content-head{
  padding:7% 0%;
  width:100%;
  margin-bottom:0px;
  background-image:url('/images/dome_1.jpg');
  background-attachment: fixed;
  background-size:100%;
}
#header{
  padding:0px 0px 50px 0px;
}
.home-head{
  font-size:48px;
}
#content-home{
  padding:0px;
  margin:3px 0px 0px 0px;
  /*border-top:1px solid #888;*/
}
#full-width{
  width:100%;
  max-width:100%;
  padding-bottom:2px;
  margin:0px;
  /*padding:0px;*/
}
#full-width .col-sm-6{
  padding:0px;
  margin-top:0px;
}

#home-nav{
  background-color:#fff;
  height:300px;
}


#batting-average h3{
  margin-top:5px;
}

.watched-bill{
  padding:10px;
  border:1px solid #ddd;
  margin:20px 0px 0px 0px;
  min-height:150px;
  text-align:center;
  cursor:pointer;
}

#bills-count-region{
  padding:10px 0px;
  /*background-color:rgba(255, 255, 255, 0.9);*/
  text-align:center;
}

.watched-bill:hover {
  background-color:#eee;
}
.watched-bill:hover a{
  text-decoration:underline;
  color:#2a6496;
}

#bill-count-region h1{
  padding:30px 0px;
  font-size:36px;
  margin:0px;
  text-align:center;
}
#bill-count-region p{
  line-height:1.5em;
  font-size:18px;
  text-align:center;
}
#bill-count-region p i{
  padding-top:5px;
  color:#333;
}
#bill-cat-top{
  margin-top:0px;
}
.fixed{
  position:fixed;
  top:0;
  z-index:1000;
  width:100%;
}
.fixed div{
  position:relative;
  top:inherit;
}

.accordion{
  margin-top:20px;
}
.ui-accordion .ui-accordion-header{
  cursor:pointer;
  padding:20px 0px;
  margin:0px;
  border-top:1px solid #ddd;
  color:#333;
}
.ui-accordion .ui-accordion-header:first-child{
  border:none;
}
.ui-accordion .ui-accordion-header:hover{
  text-decoration:underline;
  color:#666;
}
.ui-accordion .ui-accordion-header:hover .plus{
  color:#666;
}
.plus{
  float:right;
  color:#333;
}

.fa-info, .fa-stack-1x{
  font-size:14px;
  vertical-align: top;
  margin-top:-19px;
  margin-left:-10px;
}
.fa-stack-2x {
  font-size: 0.8em;
  vertical-align:top;
  margin-left:-10px;
}

.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  /*-webkit-box-shadow: 0 0 5px #aaa;*/
  /*box-shadow: 0 0 5px #aaa;*/
  background-color:#fff;
  border:1px solid #ccc;
}
body .ui-tooltip {
  border-width: 2px;
}

*:focus {
    outline: 0;
}


#full-width{
      width:100%;
      padding-bottom:2px;
      margin:0px;
      /*padding:0px;*/
    }
    #full-width .col-sm-6{
      padding:0px;
      margin-top:0px;
    }

    #home-nav{
      background-color:#fff;
      height:300px;
    }
    #bills{
      background-image:url('/images/bills.jpg');
      background-size:100%;
      background-position:0px -70px;
      height:300px;
      margin-right:0px;
      padding:0px;
    }
    #bills, #members{
      opacity:0.9;
      cursor:pointer;
    }
    #bills:hover, #members:hover{
      opacity:1.0;
    }
    #bills:hover h3, #members:hover h3{
      text-decoration: underline;
    }
    #members{
      background-image:url('/images/people.jpg');
      background-size:100%;
      height:300px;
      padding:0px;
      margin-left:0px;
    }

    .nav-box h3{
      width:350px;
      text-align:center;
      padding-top:100px;
      padding:100px 0px 10px 0px;
      margin:0px auto;
      font-size:46px;
      font-style:italic;
      color:#000;
        text-align: center;
        position:relative;
    }

    h2.bill-header{
      text-align:center;
      font-style:italic;
      color:#000;
      font-size:36px;
    }

    .bottom-third{
      border-right:1px solid #ddd;
      margin:50px 0px;
      padding:15px;
      border:1px solid #ddd;
      min-height:250px;
    }
    .col-sm-4:last-child .bottom-third{
      /*border:none;*/
    }
    .bottom-third h3{
      text-transform:uppercase;
      margin-top:0px;
      padding:5px 0px;
      font-size:28px;
      /*text-align:center;*/
    }
    h1#counter{
      text-align:center;
      font-size:60px;
    }
    #tag{
      padding:100px 0px;
    }
    #majority h5, #minority h5{
      text-align:center;
    }
    #news-list, #recent-bills {
      padding-left:0px;
    }
    #news-list li, #recent-bills li{
      list-style-type:none;
      margin:10px 0px;
      padding:10px;
      background-color:#eee;
      cursor:pointer;
    }
    #news-list li:hover, #recent-bills li:hover{
      background-color:#d9e1ef;
    }
    #footer-content{
      color:#eee;
      padding:50px 0px;
    }

.article-credit {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* welcome page nav links */
#bills{
  background-image:url('/images/bills.jpg');
  background-size:100%;
  max-height:350px;
  margin-right:0px;
  padding:0px;
  background-repeat:no-repeat;
}
#bills, #members{
  opacity:0.9;
  cursor:pointer;
}
#bills:hover, #members:hover{
  opacity:1.0;
}
#bills:hover h3, #members:hover h3{
  text-decoration: underline;
}
#members{
  background-image:url('/images/people.jpg');
  background-size:100%;
  max-height:350px;
  padding:0px;
  margin-left:0px;
  background-repeat:no-repeat;
}
.nav-box h3{
  width:350px;
  text-align:center;
  padding-top:100px;
  padding:100px 0px 10px 0px;
  margin:0px auto;
  font-size:46px;
  font-style:italic;
  color:#000;
    text-align: center;
    position:relative;
}

/* welcome page bottom thirdf */
.bottom-third{
  border-right:1px solid #ddd;
  margin:50px 0px;
  padding:15px;
  border:1px solid #ddd;
  min-height:250px;
}
.col-sm-4:last-child .bottom-third{
  /*border:none;*/
}
.bottom-third h3{
  text-transform:uppercase;
  margin-top:0px;
  padding:5px 0px;
  /*text-align:center;*/
}
#tag{
  padding:100px 0px;
}
#bottom-row{
  padding:50px 10px;
  /*padding:50px 0px;*/
}


/* mobile styles */

@media all and (min-width : 320px) and (max-width : 480px) {

  #content-home{
    margin:0px;
  }
  .container{
    padding:0px 10px;
  }

  #bills, #members{
    height:200px;
  }

  #batting-average{
    text-align:center;
    padding:10px;
    border:1px solid #ccc;
    background-color:#eee;
    margin:10px;
    display:block;
  }

  #filter-party{
    border:0px;
    text-align:center;
    border-bottom:1px solid #ccc;
    margin:0px 15px 0px 5px;
    padding-bottom:10px;
  }
  #filter-party .filter{
    width:49%;
    margin:1px;
  }


  #filter-district_type {
    border:0px;
    margin-top:10px;
    text-align:center;
    margin-bottom:5px;
  }
  #filter-district_type .filter {
    padding:5px 10px;
  }
}
