body {
  padding:0px;
  margin:0px;
  /* MyAJC style */
  font-family: Publico,Georgia,"Times New Roman",Times,serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family:Georgia, Times, serif;
  /* MyAJC style */
  font-family: inherit;
  text-rendering: optimizelegibility;
}
.jumbotron {
  text-align: center;
}
#main-region {
  margin: 50px;
}
#members-region {
  background-color: lightgrey;
}
.member {
  width: 78px;
  height: 92px;
  margin: 9px;
  border: 2px solid white;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-border-radius-topleft:  20px;
     -moz-border-radius-topleft:  20px;
          border-top-left-radius: 20px;
  text-align: center;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  float: left;
}
.member-info {
  position: relative;
  padding-left: 2px;
  padding-right: 2px;
  border-top: 3px solid white;
  background-color: grey;
  color: white;
}
.member-info p {
  font-size: 11px;
}
.member.Senate {
  width: 95px;
  height: 112px;
  margin: 8px;
}
.House .member-info {
  top: 74px;
}
.Senate .member-info {
  top: 94px;
}
.Republican .member-info {
  background-color: #FF0F0F;
}
.Democrat .member-info {
  background-color: #0F0FFF;
}
.hidden {
  display: none;
}
.filter {
  cursor: pointer;
}
.selected {
  font-weight: bold;
}
.dataTables_paginate a {
  margin: 20px 10px;
  cursor: pointer;
}

.watched-bill-icon {
  position: relative;
  float: left;
  cursor: pointer;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  background-color: lightgray;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-border-radius-topleft:  20px;
     -moz-border-radius-topleft:  20px;
          border-top-left-radius: 20px;
}

#bill-authors .media-object {
  width: 60px;
  height: 60px;
  border: 2px solid white;
}
#bill-authors a:hover {
  border: 2px solid gray;
}

ul#bill-authors li {
  padding: 5px;
}
ul#bill-authors li.D {
  background-color: lightblue;
}
ul#bill-authors li.R {
  background-color: pink;
}
ul#bill-authors li.I {
  background-color: lightgray;
}

.member-vote {
  cursor: pointer;
}

td.voted.Yea {
  color: green;
}
td.voted.Nay {
  color: red;
}
td.voted.Excused {
  color: lightgray;
}
td.voted.NotVoting {
  color: lightgray;
}

/* footer styles */
#footer{
  height:200px;
  background-color:#333;
  width:100%;
  margin:0px;
}
#footer-content{
  color:#eee;
  padding:50px 0px;
}

/* header styles */
#top{
  width:100%;
  margin:0px;
  padding:2px 0px;
  border-bottom:5px solid #003896;
  opacity:0.9;
  background-color:#fff;
}
#inside-top{
  width:100%;
  padding:5px 20px;
  border-bottom:3px solid #888;
}
#masthead{
  float:left;
}
#masthead-tag{
  text-align:right;
  font-size:18px;
  line-height: 1em;
  text-transform: uppercase;
  width:300px;
  float:right;
}
#masthead-tag a:link    { color: #000; }
#masthead-tag a:visited { color: #000; }
#masthead-tag a:hover   { color: #000; }
#masthead-tag a:active  { color: #000; }

#content-head{
  padding:7% 0%;
  width:100%;
  margin-bottom:0px;
  background-image:url('/images/dome_1.jpg');
  background-attachment: fixed;
  background-size:100%;
}
#header{
  padding:50px 0px;
}
.home-head{
  font-size:48px;
}
#content-home{
  margin-top:3px;
  padding:0px;
  /*border-top:1px solid #888;*/
}
#full-width{
  width:100%;
  padding-bottom:2px;
  margin:0px;
  /*padding:0px;*/
}
#full-width .col-sm-6{
  padding:0px;
  margin-top:0px;
}

#home-nav{
  background-color:#fff;
  height:300px;
}

.article-credit {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* welcome page nav links */
#bills{
  background-image:url('/images/bills.jpg');
  background-size:100%;
  height:350px;
  margin-right:0px;
  padding:0px;
  /*border-right:1px solid #aaa;*/
  /*border-bottom:1px solid #aaa;*/
}
#bills, #members{
  opacity:0.9;
  cursor:pointer;
}
#bills:hover, #members:hover{
  opacity:1.0;
}
#bills:hover h3, #members:hover h3{
  text-decoration: underline;
}
#members{
  background-image:url('/images/people.jpg');
  background-size:100%;
  height:350px;
  padding:0px;
  margin-left:0px;
  /*border-bottom:1px solid #aaa;*/
}
.nav-box h3{
  width:350px;
  text-align:center;
  padding-top:100px;
  padding:100px 0px 10px 0px;
  margin:0px auto;
  font-size:46px;
  font-style:italic;
  color:#000;
    text-align: center;
    position:relative;
}

/* welcome page bottom thirdf */
.bottom-third{
  border-right:1px solid #ddd;
  margin:50px 0px;
  padding:15px;
  border:1px solid #ddd;
  min-height:250px;
}
.col-sm-4:last-child .bottom-third{
  /*border:none;*/
}
.bottom-third h3{
  text-transform:uppercase;
  margin-top:0px;
  padding:5px 0px;
  /*text-align:center;*/
}
#tag{
  padding:100px 0px;
}
#bottom-row{
  padding:50px 10px;
  /*padding:50px 0px;*/
}
