body {
  padding-top: 70px;
  /* MyAJC style */
  font-family: Publico,Georgia,"Times New Roman",Times,serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  /* MyAJC style */
  font-family: inherit;
  text-rendering: optimizelegibility;
}
#main-region {
  margin: 50px;
}
#members-region {
  background-color: lightgrey;
}
.member {
  width: 78px;
  height: 92px;
  margin: 9px;
  border: 2px solid white;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-border-radius-topleft:  20px;
     -moz-border-radius-topleft:  20px;
          border-top-left-radius: 20px;
  text-align: center;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  float: left;
}
.member-info {
  position: relative;
  padding-left: 2px;
  padding-right: 2px;
  border-top: 3px solid white;
  background-color: grey;
  color: white;
}
.member-info p {
  font-size: 11px;
}
.member.Senate {
  width: 95px;
  height: 112px;
  margin: 8px;
}
.House .member-info {
  top: 74px;
}
.Senate .member-info {
  top: 94px;
}
.Republican .member-info {
  background-color: #FF0F0F;
}
.Democrat .member-info {
  background-color: #0F0FFF;
}
.hidden {
  display: none;
}
.filter {
  cursor: pointer;
}
.selected {
  font-weight: bold;
}
.dataTables_paginate a {
  margin: 20px 10px;
}

.watched-bill-icon {
  position: relative;
  float: left;
  cursor: pointer;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  background-color: lightgray;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-border-radius-topleft:  20px;
     -moz-border-radius-topleft:  20px;
          border-top-left-radius: 20px;
}

#bill-authors .media-object {
  width: 60px;
  height: 60px;
  border: 2px solid white;
}
#bill-authors a:hover {
  border: 2px solid gray;
}
/*
#panel-region {
  padding: 2px;
  padding-top: 10px;
}
*/
