<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
  <title>Georgia General Assembly -- Members</title>
	<meta name="description" content="">
	<meta name="author" content="John Perry">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  <link rel="stylesheet" type="text/css" href="//normalize-css.googlecode.com/svn/trunk/normalize.css">
  <link rel="stylesheet" type="text/css" href="style/jquery-ui-1.10.3.custom.css">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style/app.css">
<!--
	<link rel="stylesheet" href="http://host.coxmediagroup.com/ajc/digitalprojects/global/css/iFrame_Medley.css" type="text/css"/>
-->

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
  <div id="main-region">
    <p>Loading ...</p>
  </div>

  <script type = "text/template" id="member-icon-template">
    <div class="member js-show-member-detail <%- party %> <%- district_type %> <%- district_address_city %>" id="member<%- id %>" style="background-image: url('images/cropped/<%- id %>.jpg')" title="<%- tooltip_info %>">
      <div class="member-info">
        <%- district_type %> <%- district_number %>
      </div>
    </div>
  </script>

  <script type="text/template" id="member-show-layout">
    <div id="detail-region" class="row"></div>
    <div class="accordion">
      <h3>Bills Sponsored</h3>
      <div id="bills-list-region">No bills sonsored thus far this session</div>
      <h3>Recent Votes</h3>
      <div id="vote-list-region">List of recent votes goes here ...</div>
      <h3>Committees</h3>
      <div id="committee-list-region">Committee list goes here ...</div>
      <h3>Top Contributors</h3>
      <div id="top-contributors-region"></div>
    </div>
  </script>

  <script type="text/template" id="member-detail-template">
    <div class="row-">
      <div class="col-lg-3">
        <img src="images/mugs/<%- id %>.jpg" alt="<%- full_name %>" height="195">
      </div>
      <div class="col-lg-9">
        <h1><%- full_name %></h1>
        <h3><%- party %>, <%- district_type %> District <%- district_number %></h3>
        <ul>
          <% if (title) { %>
            <li><strong>Leadership role:</strong> <%- title %></li>
          <% } %>

          <% if (occupation) { %>
            <li><strong>Occupation:</strong> <%- occupation %></li>
          <% } %>

          <% if (education) { %>
            <li><strong>Education:</strong> <%- education %></li>
          <% } %>

          <% if (religion) { %>
            <li><strong>Religion:</strong> <%- religion %></li>
          <% } %>

          <% if (district_address_city) { %>
            <li><strong>Home town:</strong> <%- district_address_city %></li>
          <% } %>
        </ul>
      </div>
    </div>
  </script>

  <script type="text/template" id="top-contributors-table-template">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Contributor</th>
        <th>Business type</th>
        <th>Contributions</th>
        <th>Total amount</th>
        <th>Percent of all contributions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </script>

  <script type="text/template" id="top-contributor-template">
    <td><%= contribution_ranking %></td>
    <td><%= contributor_name %></td>
    <td><%= business_name %></td>
    <td><%= total_contribution_records %></td>
    <td><%= '$' + total_dollars %></td>
    <td><%= percent_of_total_total_dollars + '%' %></td>
  </script>

  <script type="text/template" id="member-list-layout">
    <div class="row-fluid">
      <div id="panel-region" class="navbar navbar-fixed-top"></div>
      <div id="members-region"></div>
    </div>
  </script>

  <script type="text/template" id="member-list-panel">
  <div class="row">
    <div id="filter-party" class="nav btn-group">
      <button id="filter-Democrat" class="btn btn-small navbar-btn filter">Democrat</button>
      <button id="filter-Republican" class="btn btn-small navbar-btn filter">Republican</button>
      <button id="filter-Independent" class="btn btn-small navbar-btn filter">Independent</button>
      <button id="filter-all-parties" class="btn btn-small btn-default navbar-btn filter">All parties</button>
    </div>
    <div id="filter-district_type" class="nav btn-group">
      <button id="filter-Senate" class="btn btn-small navbar-btn filter">Senate</button>
      <button id="filter-House" class="btn btn-small navbar-btn filter">House</button>
      <button id="filter-all-districtTypes" class="btn btn-small btn-default navbar-btn filter">Both chambers</button>
    </div>
  </div>
  </script>

  <script type="text/template" id="committee-template">
    <td><%= name %></td>
    <td><%= role %></td>
  </script>

  <script type="text/template" id="committees-table-template">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody></tbody>
  </script>

  <script type="text/template" id="bill-compact-template">
    <div id="bill-<%= document_type %><%= number %>">
      <a href="#bills/<%= bill_id %>"><h3><%= document_type %> <%= number %></a>
      <h4><%= caption %></h3></h4>
      <p><b>Status:</b> <%= status_description %></p>
    </div>
  </script>

  <script type="text/template" id="bill-category-layout">
    <div class="row-fluid" id="bills-count-region"></div>
    <div class="row-fluid" id="bill-category-region"></div>
  </script>

  <script type="text/template" id="bill-category-template">
    <h3><a href="#watched_bills/category/<%- name %>"><%- name.replace(/_/g, ' ') %></a></h3>
    <p>
      Watching <%- count %> bill<% if(count > 1) { %>s<% } %>
    </p>
  </script>

  <script type="text/template" id="bills-count-template">
    <h1><%- bills %> Bills</h1>
    <% if(passed_house > 0) { %>
      <p><%- passed_house %> Passed the House.</p>
    <% } %>
    <% if(passed_senate > 0) { %>
      <p><%- passed_senate %> Passed the Senate.</p>
    <% } %>
    <% if(sent_to_gov > 0) { %>
      <p><%- sent_to_gov %> Sent to governor.</p>
    <% } %>
    <% if(signed_by_gov > 0) { %>
      <p><%- signed_by_gov %> Signed by governor.</p>
    <% } %>
  </script>

  <script type="text/template" id="show-category-layout">
    <div class="jumbotron" id="headline-region"></div>
    <div id="watched-bill-list"></div>
  </script>

  <script type="text/template" id="category-headline-template">
    <h1><%- category %></h1>
  </script>

  <script type="text/template" id="category-item-template">
    <h3><a href="#bills/<%- bill_id %>"><%- document_type %> <%- number %>: <%- title %></a></h3>
    <p><%- description %></p>
  </script>

  <script type="text/template" id="bill-detail-layout">
    <div class="row" id="bill-region"></div>

    <div class="row" id="supplemental">

      <div class="col-sm-4" id="sponsors">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Primary Author</h4>
          </div>
          <div class="panel-body">
            <div id="author-region"></div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Co-authors</h4>
          </div>
          <div class="panel-body">
            <div id="coauthors-region"></div>
          </div>
        </div>
        <div class="well">
          <h4>Versions</h4>
        </div>
        <div class="panel-body" id="version-region"></div>
      </div>

      <div class="col-sm-8" id="actions">
        <div class="well">
          <h4>Actions</h4>
        </div>
        <div id="status-region"></div>
        <div class="well">
          <h4>Votes</h4>
        </div>
        <div id="vote-region"></div>
      </div>

    </div>
  </script>

  <script type="text/template" id="bill-detail-template">
    <div class="panel-heading">
      <h3><%- document_type %> <%- number %></h3>
    </div>
    <div class="panel-body">
      <p><b><%- caption %></b><p>
      <p><b>Current Status:</b> <%- status_description %></p>
      <p><b>Current Version:</b> <a href="<%- latest_version_url %>" target="_blank"><%- latest_version_description %></a></p>
      <p><b>Official Summary:</b> <%- summary %></p>
    </div>
  </script>

  <script type="text/template" id="bill-author-list">
    <ul class="media-list" id="bill-authors"></ul>
  </script>

  <script type="text/template" id="bill-author-template">
    <a class="pull-left" href="#members/<%- member_id %>">
      <img class="media-object" src="images/cropped/<%- member_id %>.jpg">
    </a>
    <div class="media-body">
      <%- full_name %><br />
      <%- district_type %> <%- district_number %><br />
      <%- party %>-<%- hometown %><br />
    </div>
  </script>

  <script type="text/template" id="bill-status-template">
    <%- status_date.toString("MMM d") %>: <%- description %>
  </script>

  <script type="text/template" id="bill_status_listings_template">
    <ul id="bill_statuses"></ul>
  </script>

  <script type="text/template" id="bill-versions-listing-template">
    <ul id="bill-versions"></ul>
  </script>

  <script type="text/template" id="bill-version-template">
    <%- version %>: <a href="<%- url %>" target="_blank"><%- description %></a>
  </script>

  <script type="text/template" id="bill-vote-template">
    <td><%= vote_date.toString("MMM d, yyyy") %></td>
    <td><%= caption %> (<%= branch %>)</td>
    <td><%= yeas %></td>
    <td><%= nays %></td>
    <td><%= not_voting %></td>
    <td><%= excused %></td>
  </script>

  <script type="text/template" id="bill-votes-listing-template">
    <thead>
      <th>Vote Date</th>
      <th>Description</th>
      <th>Yeas</th>
      <th>Nays</th>
      <th>Not<br/>Voting</th>
      <th>Excused</th>
    </thead>
    <tbody></tbody>
  </script>

  <script type="text/template" ID="member-vote-template">
    <td><%= vote_date.toString("MMM d, yyyy") %></td>
    <td><%= document_type %><%= number %></td>
    <td><%= caption %></td>
    <td class="voted <%= voted %>"><%= voted %></td>
  </script>

  <script type="text/template" id="member-vote-list-template">
    <tbody></tbody>
  </script>

  <script src="scripts/lib/require.js"></script>
  <script src="scripts/require_main.built.js"></script>
<!--
  <script data-main="scripts/require_main.js"src="scripts/lib/require.js"></script>
-->
</body>
</html>