<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
  <title>MyAJC Legislative Navigator</title>
	<meta name="description" content="">
	<meta name="author" content="John Perry">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  <link rel="stylesheet" type="text/css" href="//normalize-css.googlecode.com/svn/trunk/normalize.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style/app.css">
<!--
	<link rel="stylesheet" href="http://host.coxmediagroup.com/ajc/digitalprojects/global/css/iFrame_Medley.css" type="text/css"/>
-->

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!--
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
-->
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "a696bb5e-ad41-4adf-bd74-5161d947f19c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>
  <!-- header -->
  <div id="top">
    <div id="inside-top">
      <div class="row" id="masthead-row">
        <div id="masthead">
          <a href="http://www.myajc.com" target="_blank" alt="myajc.com">
          <img src="images/logo.png" width="200px">
          </a>
        </div>
        <div class="hidden-xs hidden-sm" id="masthead-tag">
          <a href="http://www.myajc.com/s/news/georgia-legislature/" target="_blank">LEGISLATIVE NEWS</a>
        </div>
      </div>
    </div>
  </div>

  <nav role="navigation" id="top-nav">
    <div class="container">
      <div id="nav-container">
        <div class="row">
            <div class="col-sm-2">
              <a href="/">HOME</a>
            </div>
            <div class="col-sm-2">
              <a href="/#watched_bills">BILLS</a>
            </div>
            <div class="col-sm-2">
              <a href="/#members">MEMBERS</a>
            </div>
            <div class="col-sm-2">
              <a href="/#about">ABOUT</a>
            </div>
            <div class="col-sm-2" id="social">
                <span class='st_facebook' displayText=''></span>
                <span class='st_twitter' displayText=''></span>
                <span class='st_googleplus' displayText=''></span>
                <span class='st_email' displayText=''></span>
                <span class='st_sharethis' displayText=''></span>
            </div>
        </div>
      </div>
    </div>
  </nav>

  <div id="main-region">
  </div>

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="footer-content">
            <p>SOURCES: <a href="http://www.legis.ga.gov/en-US/default.aspx"> The Georgia General Assembly</a> and the <a href="http://www.followthemoney.org/">National Institute on Money in State Politics.</a></p>
            <p>© 2014 <a href="http://www.coxmediagroup.com" target="_blank">Cox Media Group</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- TEMPLATES -->

  <script type="text/template" id="welcome-layout">
    <div class="container" id="header">
      <div class="row">
        <div class="col-lg-12">
<!-- Welcom page alert message
          <div class="alert alert-success">
            <p>
              <form id="bill-search" class="form-search">
                <span><b>Updated Bill Predictions:</b> See the chance that bills surviving crossover day will pass. </span>
                <select id="document-type" class="span2">
                  <option value="HB">House Bill</option>
                  <option value="SB">Senate Bill</option>
                </select>
                <input type="text" class="input-mini span1" id="number">
                <button type="submit" class="btn btn-xs">Go</button>
                <a href="http://ajcnewsapps.tumblr.com/" target="_blank">(Lean more about the changes)</a>
              </form>
            </p>
          </div>
-->
          <h1 class="home-head">
            Georgia Legislative Navigator
          </h1>
          <p class="article-credit">
            By <a href="http://www.myajc.com/staff/john-perry/">John Perry</a>,
               <a href="http://www.myajc.com/staff/ashlyn-still/">Ashlyn Still</a> and
               <a href="http://www.myajc.com/staff/jeff-ernsthausen/">Jeff Ernsthausen</a>
          </p>
        </div>
        <div class="col-lg-12">
          <p>
            The first year of the 153rd Georgia General Assembly is upon us and the
            AJC is proud is to offer readers this tool to track legislation and
            meet those in power at the Gold Dome. All bills in the tool are
            categorized by topic, and the AJC staff highlighted legislation with the
            most significant impact on the general public. Links to lawmakers will
            show bill sponsorship, recent votes, committee assignments and top campaign
            donors. Information in the tool
            will be updated daily during the 40-day legislative session.
          </p>
        </div>
      </div>
    </div>

    <div class="container" id="full-width">
      <!-- content home -->
      <div class="row" id="content-home">
        <div class="col-sm-6">
          <div class="nav-box" id="bills">
            <h3>Bills</h3>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="nav-box" id="members">
            <h3>Members</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="bottom-row">
      <div class="row">
        <div class="col-sm-4">
          <div class="bottom-third" id="bill-count-region"></div>
        </div>
        <div class="col-sm-4">
          <div class="bottom-third">
            <div id="news-feeds"></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="bottom-third">
            <div id="days-left-region"></div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="days-left-template">
    <h3>Days left in session</h3>
    <h1 id="counter"><%- days_left %></h1>
  </script>

  <script type = "text/template" id="member-icon-template">
    <div class="member js-show-member-detail <%- party %> <%- district_type %> <%- district_address_city %> <%- vacant %>" id="member<%- id %>" style="background-image: url('images/cropped/<%- vacant === 'vacant' ? 'vacant' : id %>.jpg')" title="<%- tooltip_info %>">
      <div class="member-info">
        <%- district_type %> <%- district_number %>
      </div>
    </div>
  </script>

  <script type="text/template" id="member-show-layout">
    <div id="detail-region"></div>
    <div class="container">
      <div class="accordion">
        <h3>Bills Sponsored<i class="fa fa-plus-square-o plus"></i></h3>
        <div id="bills-list-region">No bills sonsored thus far this session</div>
        <h3>Recent Votes<i class="fa fa-plus-square-o plus"></i></h3>
        <div id="vote-list-region">List of recent votes goes here ...</div>
        <h3>Committees<i class="fa fa-plus-square-o plus"></i></h3>
        <div id="committee-list-region">Committee list goes here ...</div>
        <h3>Top Contributors<i class="fa fa-plus-square-o plus"></i></h3>
        <div id="top-contributors-region"></div>
      </div>
    </div>
  </script>

  <script type="text/template" id="member-detail-template">
      <div class="member-detail-row <%- party %>">
        <div class="container">

          <div class="row">
            <div class="col-sm-2">
              <img src="images/mugs/<%- id %>.jpg" alt="<%- full_name %>" width="100%">
            </div>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-12" id="member-title">
                  <h1><%- full_name %></h1>
                  <% if (vacant === 'vacant') { %>
                    <h3><%- title %></h3>
                  <% } else { %>
                    <h3><%- party %>, <%- district_type %> District <%- district_number %></h3>
                  <% } %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <ul id="member-info">
                    <% if (title && vacant === "current") { %>
                      <li><strong>Leadership role:</strong> <%- title %></li>
                    <% } %>

                    <% if (occupation) { %>
                      <li><strong>Occupation:</strong> <%- occupation %></li>
                    <% } %>

                    <% if (education) { %>
                      <li><strong>Education:</strong> <%- education %></li>
                    <% } %>

                    <% if (religion) { %>
                      <li><strong>Religion:</strong> <%- religion %></li>
                    <% } %>

                    <% if (district_address_city) { %>
                      <li><strong>Home town:</strong> <%- district_address_city %></li>
                    <% } %>
                  </ul>
                </div>
                <div class="col-sm-8">
                  <div id="batting-average">
                    <% if (batting_average) { %>
                      <h3>Legislative Batting Average:
                          <span id="bat-avg"><%= _.str.ltrim(_.str.sprintf("%.3f", parseFloat(batting_average)), "0") %></span>
                          <img class="info-tip" src="images/icon_info.png" title="Batting averages show the ratio of bills passed out of the general assymbly to bills introduced by a member in previous sessions. The calculation excludes resolutions and bills introduced during special sessions.">
                      </h3>
                      <p>(Proportion of the <%= bill_count %> bills introduced in previous sessions that were passed by the legislature.)</p>
                    <% }else { %>
                      <p><%= full_name %> is a Freshman legislator.</p>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="top-contributors-table-template">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Contributor</th>
        <th>Business type</th>
        <th>Contributions</th>
        <th>Total amount</th>
        <th>Percent of all contributions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </script>

  <script type="text/template" id="top-contributor-template">
    <td><%= contribution_ranking %></td>
    <td><%= contributor_name %></td>
    <td><%= business_name %></td>
    <td><%= total_contribution_records %></td>
    <td><%= '$' + total_dollars %></td>
    <td><%= percent_of_total_total_dollars + '%' %></td>
  </script>

  <script type="text/template" id="member-list-layout">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron" id="member-jumbotron">
            <h2 class="bill-header">The Members</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-static-top" id="panel-region" ></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12" id="members-region"></div>
      </div>
    </div>
  </script>

  <script type="text/template" id="member-list-panel">
  <div class="row">
    <div class="col-sm-12">
      <div id="buttons">
        <div class="row">
          <div class="col-sm-8">
            <div id="filter-party" class="nav btn-group-sm">
              <button id="filter-Democrat" class="btn navbar-btn filter">Democrat</button>
              <button id="filter-Republican" class="btn navbar-btn filter">Republican</button>
              <button id="filter-Independent" class="btn navbar-btn filter">Independent</button>
              <button id="filter-all-parties" class="btn btn-default navbar-btn filter">All parties</button>
            </div>
          </div>

          <div class="col-sm-4">
            <div id="filter-district_type" class="nav btn-group-sm navbar-right">
              <button id="filter-Senate" class="btn navbar-btn filter">Senate</button>
              <button id="filter-House" class="btn navbar-btn filter">House</button>
              <button id="filter-all-districtTypes" class="btn btn-default navbar-btn filter">Both chambers</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </script>

  <script type="text/template" id="committee-template">
    <td><%= name %></td>
    <td><%= role %></td>
  </script>

  <script type="text/template" id="committees-table-template">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody></tbody>
  </script>

  <script type="text/template" id="bill-compact-template">
    <div id="bill-<%= document_type %><%= number %>" class="container">
      <div class="row">
        <div class="col-sm-10">
          <h3 class="billnumhed">
            <a href="#bills/<%= bill_id %>"><%= document_type %> <%= number %></a>
            <% if (passed_over === -1) { %>
              <i class="fa fa-times red hover" title="This bill or constitutional amendment resolution did not cross over from one house to the other before the day 30 deadline and is no longer active, unless legislators vote to suspend rules. The substance of this bill could also be amended to a live bill later in the session. Local bills and private resolutions are not affected by the crossover day deadline."></i>
            <% } %>
          </h3>
          <h4><%= caption %></h3></h4>
          <p><b>Status:</b> <%= status_description %></p>
        </div>

        <% if ( $.isNumeric(predictions) && bill_passed === 0 && passed_over >= 0 ) { %>
        <div class="col-sm-2 well" align="center">
          <% if (caption.match(/General appropriations.*2015/)) { %>
            <p>This bill carries the state budget for the next fiscal year and must pass for state government to be funded. Because of this special circumstance, we do not assign a probability to this bill.<p>
          <% } else { %>
            <p>Chance of passing <img class="info-tip" src="images/icon_info.png" title="Predictions of each bill’s chance of passage are generated from statistical models developed by the AJC based on the success or failure of bills that survived the crossover day deadline during the three previous legislative sessions (2008-2009, 2009-2010 and 2011-2012). The models consider a variety of factors, including sponsors and cosponsors, how recently the bill saw activity and where it stood as of crossover day. The technique used by the AJC was tested on previous legislative sessions."></p>
            <h1><%- (predictions * 100).toFixed() %>%</h1>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
  </script>

  <script type="text/template" id="bill-category-layout">
    <div class="container" id="bill-cat-top">
        <div class="jumbotron">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bill-header">The Bills</h2>
            </div>
          </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <form id="bill-search" class="form-search">
            <span>Find a bill:</span>
            <select id="document-type" class="span2">
              <option value="HB">House Bill</option>
              <option value="HR">House Resolution</option>
              <option value="SB">Senate Bill</option>
              <option value="SR">Senate Resolution</option>
            </select>
            <input type="text" class="input-mini span1" id="number">
            <button type="submit" class="btn btn-xs">Go</button>
          </form>
        </div>
      </div>
      <div class="row" id="bill-category-region"></div>
    </div>
  </script>




  <script type="text/template" id="bill-category-template">
    <div class="watched-bill">
      <h3><a href="#watched_bills/category/<%- name %>"><%- name.replace(/_/g, ' ') %></a></h3>
      <p>
        Watching <%- count %> bill<% if(count > 1) { %>s<% } %>
      </p>
    </div>
  </script>

  <script type="text/template" id="bills-count-template">
        <h3><%- bills %> total bills</h3>
        <ul class="fa-ul display-ul">
            <% if(passed_house > 0) { %>
              <li><i class="fa-li fa fa-check-circle"></i> <%- passed_house %> Passed the House.</li>
            <% } %>
            <% if(passed_senate > 0) { %>
              <li><i class="fa-li fa fa-check-circle"></i> <%- passed_senate %> Passed the Senate.</li>
            <% } %>

            <% if(sent_to_gov > 0) { %>
              <li><i class="fa-li fa fa-envelope"></i> <%- sent_to_gov %> Sent to governor.</li>
            <% } %>
            <% if(signed_by_gov > 0) { %>
              <li><i class="fa-li fa fa-pencil"></i> <%- signed_by_gov %> Signed by governor.</li>
            <% } %>
            <% if(vetoed > 0) { %>
              <li><i class="fa-li fa fa-thumbs-down"></i> <%- vetoed %> Vetoed.</li>
            <% } %>
          </ul>
  </script>

  <script type="text/template" id="show-category-layout">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron" id="headline-region"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="watched-bill-list"></div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="category-headline-template">
    <h1><%- category %></h1>
  </script>

  <script type="text/template" id="category-item-template">
    <div class="row">
      <div class="col-sm-10">
        <h3 class="billnumhed">
          <a href="#bills/<%- bill_id %>" id="billhed<%- bill_id %>"><%- document_type %> <%- number %>: <%- title %></a>
          <% if (passed_over === -1) { %>
            <i class="fa fa-times red hover" title="This general bill or constitutional amendment resolution did not cross over from one house to the other before the day 30 deadline and is no longer active, unless legislators vote to suspend rules. The substance of this bill could also be amended to a live bill later in the session. Local bills and private resolutions are not affected by the crossover day deadline."></i>
          <% } %>
        </h3>

        <p><%- description %></p>
        <p><b>Latest status:</b> <%= status_description %> (<%- status_date.toString("MMM d, yyyy") %>)</p>
      </div>
      <div class="col-sm-2">
        <% if ( $.isNumeric(predictions) && bill_passed === 0 && passed_over >= 0 ) { %>
        <div class="alert" id="<%- bill_id %>" align="center">
          <p>Chance of passing <img class="info-tip" src="images/icon_info.png" title="Predictions of each bill’s chance of passage are generated from statistical models developed by the AJC based on the success or failure of bills that survived the crossover day deadline during the three previous legislative sessions (2008-2009, 2009-2010 and 2011-2012). The models consider a variety of factors, including sponsors and cosponsors, how recently the bill saw activity and where it stood as of crossover day. The technique used by the AJC was tested on previous legislative sessions."></p>
          <h1><%- (predictions * 100).toFixed() %>%</h1>
        </div>
        <% } %>
      </div>
    </div>
  </script>

  <script type="text/template" id="bill-detail-layout">
    <div class="row">
      <div class="col-sm-12" id="bill-region"></div>
    </div>

    <div class="row" id="supplemental">

      <div class="col-sm-4" id="sponsors">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Primary Author</h4>
          </div>
          <div class="panel-body">
            <div id="author-region"></div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Co-authors <img class="info-tip" src="images/icon_info.png" title="The House Clerk records only the first six bill sponsors"></h4>
          </div>
          <div class="panel-body">
            <div id="coauthors-region"></div>
          </div>
        </div>
        <div class="table-top">
          <h4>Versions</h4>
        </div>
        <div class="panel-body" id="version-region"></div>
      </div>

      <div class="col-sm-8" id="actions">
        <div class="table-top">
          <h4>Actions</h4>
        </div>
        <div id="status-region"></div>
        <div class="table-top">
          <h4>Votes</h4>
        </div>
        <div id="vote-region"></div>
      </div>

    </div>
  </script>

  <script type="text/template" id="bill-detail-template">
    <div class="panel-heading">
      <h3 class="billnumhed"><%- document_type %> <%- number %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div>
              <!--
            <% if ( passed_over === -1 ) { %>
              <p class="red"><b>Note:</b> This general bill or constitutional amendment resolution did not cross over from one house to the other before the day 30 deadline and is no longer active, unless legislators vote to suspend rules. The substance of this bill could also be amended to a live bill later in the session. Local bills and private resolutions are not affected by the crossover day deadline.</p>
            <% } %>
              -->
            <p><b><%- caption %></b><p>
            <p><b>Current Status:</b> <%- status_description %></p>
            <p><b>Current Version:</b> <a href="<%- latest_version_url %>" target="_blank"><%- latest_version_description %></a></p>
            <p><b>Official Summary:</b> <%- summary %></p>
          </div>

          <% if ( $.isNumeric(predictions) && bill_passed === 0 && passed_over >= 0 ) { %>
            <div>
              <hr>
              <h3>Chance of passing  <img class="info-tip" src="images/icon_info.png" title="Predictions of each bill’s chance of passage are generated from statistical models developed by the AJC based on the success or failure of bills that survived the crossover day deadline during the three previous legislative sessions (2008-2009, 2009-2010 and 2011-2012). The models consider a variety of factors, including sponsors and cosponsors, how recently the bill saw activity and where it stood as of crossover day. The technique used by the AJC was tested on previous legislative sessions."></h3>
                <% if ( id === 40560 ) { %>
                  <div><p>This bill carries the state budget for the next fiscal year and must pass for state government to be funded. Because of this special circumstance, we do not assign a probability to this bill.<p></div>
                <% } else { %>
                  <div class="progress">
                    <div class="progress-bar"
                         role="progressbar"
                         aria-valuenow="<%- (predictions * 100).toFixed() %>"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: <%- (predictions * 100).toFixed() %>%">
                      <span class="sr-only"><%- (predictions * 100).toFixed() %>%</span>
                    </div>
                  </div>
                <% } %>
            </div>
          <% } %>

        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="bill-author-list">
    <ul class="media-list" id="bill-authors"></ul>
  </script>

  <script type="text/template" id="bill-author-template">
    <a href="#members/<%- member_id %>">
      <div>
        <div class="pull-left">
         <img class="pull-left media-object" src="images/cropped/<%- member_id %>.jpg">
        </div>
        <%- full_name %><br />
        <%- district_type %> <%- district_number %><br />
        <%- party %>-<%- hometown %><br />
      </div>
    </a>
  </script>

  <script type="text/template" id="bill-status-template">
    <%- status_date.toString("MMM d, yyyy") %>: <%- description %>
  </script>

  <script type="text/template" id="bill_status_listings_template">
    <ul id="bill_statuses"></ul>
  </script>

  <script type="text/template" id="bill-version-template">
    <%- version %>: <a href="<%- url %>" target="_blank"><%- description %></a>
  </script>

  <script type="text/template" id="bill-vote-template">
    <td><%= vote_date.toString("MMM d, yyyy") %></td>
    <td><%= caption %> (<%= branch %>)</td>
    <td><%= yeas %></td>
    <td><%= nays %></td>
    <td><%= not_voting %></td>
    <td><%= excused %></td>
  </script>

  <script type="text/template" id="bill-votes-listing-template">
    <thead>
      <th>Vote Date</th>
      <th>Description</th>
      <th>Yeas</th>
      <th>Nays</th>
      <th>Not<br/>Voting</th>
      <th>Excused</th>
    </thead>
    <tbody></tbody>
  </script>

  <script type="text/template" ID="member-vote-template">
    <td><%= vote_date.toString("MMM d, yyyy") %></td>
    <td><%= document_type %><%= number %></td>
    <td><%= caption %></td>
    <td class="voted <%= voted %>"><%= voted %></td>
  </script>

  <script type="text/template" id="member-vote-list-template">
    <thead>
     <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
     </tr>
    </thead>
    <tbody></tbody>
  </script>

  <script type="text/type" id="loading-template">
    <div id="spinner"></div>
  </script>

  <script type="text/type" id="about-template">
    <div class="container">
      <div class="row">
        <div class="jumbotron">
          <h2>About the Georgia Legislative Navigator</h2>
        </div>
      </div>
    </div>
    <div class="container about-text">
      <div class="row">
        <div class="col-sm-12">
          <p>
           The Georgia Legislative Navigator is a site devoted
           to helping our readers follow the action at the Georgia General Assembly. It is
           also a work in progress. We hope to continually add new features and tools to
           understand the legislative process. Features we hope to add soon include the
           ability to search for any bill, the ability to find your legislators by location, and
           a statistical model that estimates the probability of a bill passing the
           legislature and being sent to the governor. If you have requests
           for features or ideas for improvements you would like to see, contact
            <a href="http://www.myajc.com/staff/john-perry/">John Perry</a>.
          </p>
          <h3>About the data</h3>
          <p>
            The Navigator is built on top of two data sources.
            <a href="http://www.legis.ga.gov/">The Georgias General Assembly</a>
            provides data on members of the legislature and on the status of bills.
            This data is made available to the public through an Application programming
            interface, or API. This allows the public to send data requests over the internet, and
            instantaniously receive data in a format that allows a programmer to use it
            in a website or mobile application. This is an example of transparency
            that state agencies would do well to follow.
          </p>
          <p>
            The second data source is
            <a href="http://www.followthemoney.org/">The Institute for Money in State Politics.</a>
            The institute is a nonpartisan nonprofit organization that collects state-level campaign
            finance and lobbying data from all 50 states, standardizes and categorizes it,
            and them makes it available to the public, both through a search interface on
            their website and through an API.
          </p>
<!--
          <h3>About the predictions</h3>
          <p class="article-credit">
            By <a href="http://www.myajc.com/staff/jeff-ernsthausen/">Jeff Ernsthausen</a>
          </p>
          <div class="alert alert-success">
            <p>UPDATE: The AJC has created a new model to update the chances of passage for bills still alive after Crossover Day on March 3. This model is based on bills that were still alive after the final Crossover Day in the previous three legislative sessions, which includes all local bills and any general bills that have passed from one legislative chamber to the other.</p>
            <p>The new model leans heavily on the current status of a bill in the legislative process and how many days before Crossover Day the bill reached that status. For instance, many general bills cleared one chamber last year without passing the other by the time lawmakers headed home.  Such bills are still in play this year. But if a bill has collected dust since then, our model will give it relatively low chances of passing. Most bills submitted this year that are still alive post-Crossover will see their chances go up in the new model, while most bills submitted last year will see their chances decrease (unless they have been active in the past few weeks).</p>
            <p>A key element missing in our post-Crossover Day model is how many votes each bill received when it cleared its originating chamber. We are still working out kinks with the Legislature’s data feed that need to be resolved before we can accurately pair that data with each bill. We hope to do so by the time the legislature reconvenes in 2015.</p>
          </div>
          <p>To create the Georgia Legislative Navigator, the Atlanta Journal-Constitution assembled information on more than 14,000 bills introduced since 2001, each labeled with votes, sponsorship and text summaries. Then we recognized this would create a rare opportunity. We could use that enormously detailed data to, in essence, calculate the chances that a bill would pass.  That could shine a light on the often murky legislative process and the factors that hurt or help bills.</p>
          <p>So the AJC consulted with experts in quantitative methods of social science, starting with Professor Charles Bullock, chair of the Political Science Department at the University of Georgia and a close observer of the Georgia Legislature. To identify the factors that might influence a bill’s outcome, he recommended a technique, logistic regression, originally developed to predict patients’ risk of developing certain diseases.</p>
          <p>A book by Professor Frank Harrell, chairman of the Department of Biostatistics at the Vanderbilt University School of Medicine became our bible, and Harrell also provided advice and reviewed the AJC’s work.  Gary King, director of the Institute for Quantitative Social Science at Harvard University also provided insights., and Professor John Stasko of the Georgia Institute of Technology provided advice and software used to identify key terms in bill text.</p>
          <p>The model is based on obvious factors influencing a bill’s fate – the party of the bill’s sponsor, the number of co-sponsors, and whether a leadership figure was a sponsor -  and some not so obvious ones. In the latter category were how close to the end of the session a bill was submitted, and some of the wording in the bill’s summary. We looked at whether the summary included certain social issues terms that refer to abortion, gun control, prayer in school, alcohol or controlled substances. And we included variable for terms like “city of” and “county of,” since so many bills that move through the Legislature are local.</p>
          <p>The model does not yet take into account the legislative hurdles that a bill has already cleared, such as getting out of committee or passing one chamber.</p>
          <p>We tested our model by comparing its predictions with the actual outcomes of bills in earlier sessions.  The result: It does a reasonably good job of predicting the chances of passage for the bulk of bills that pass through the Legislature each year.</p>
          <p>We’ll be working to refine the model and may even try to predict how individual legislators will vote. If you want to take a shot at improving our model:</p>
          <p><a href="http://ajcgga-api.herokuapp.com/api/bill_attributes.csv" title="It's a big file. Please be patient">Download our model data here</a>
          <p><a href="https://gist.github.com/NewsappAJC/9418045" target="_blank">See the model, written in R, here</a>
          <p>Read more about how our model was developed on the <a href="http://ajcnewsapps.tumblr.com/" target="_blank">AJC Newsapp Team blog</a>.</p>
          <p>Read what we discovered about the legislative process at <a href="http://www.myajc.com/news/news/what-are-the-odds/ndPfx/" target="_blank">MyAJC.com</a>.</p>
-->
      </div>
    </div>
  </script>

  <script data-main="scripts/require_main.js" src="scripts/lib/require.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47044560-2', 'legislativenavigator.myajc.com');
  ga('send', 'pageview');

</script>
</body>
</html>